{% extends 'base.html' %}
{% block conteudo %}

    <h1> CHAMELEON AGE = {{ fruta }} </h1>

{% for fruta in f %}
    <li> {{fruta}} </li>
{% endfor %}

    <form action="{{url_for('index')}}" method="post">
        <input type='text' name='fruits'>
        <input type='submit' value='SEND'>
    </form>



      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Fruit</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Fruta" name='fruit'>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    {%endblock conteudo%}
